@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing:border-box; 
}
body {
    background-image: linear-gradient(rgb(255, 255, 255),rgb(0, 0, 0));
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.font-josefin {
    font-family: 'Open Sans', sans-serif;
}

p {
    line-height: 20px;
    margin-bottom: 20px;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 80px;
    margin-bottom: 20px;
    text-align: left;

}
h3 {
    font-family: 'Open Sans', sans-serif;
    color: rgb(211, 121, 60);
    font-size: 30px;
    text-align: left;
    padding: 10px 10px
}
h4 {
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.project a {
    text-decoration: none;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;;
    color: rgb(255, 255, 255);
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(138, 115, 90, 0.555);
    filter:drop-shadow(50%);
    display:flex;
    justify-content: center;
    align-items: center;
}
.project a:hover {
    filter:none
}
.clear {
    clear: both;
}
.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    width: 500px;
}
.container {
    width: 100%;
    max-width: 900px;
    margin: 80px    ;
    /* margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto; */
    padding-bottom: 50px;

}
#top {
    background-image: url(../IMG_kieran/PSX_20220821_103904.jpg);
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px; 
    padding-top: 1px;
}
#top h1 {
    margin: 180px 0 40px 0;
    font-family: 'Open Sans', sans-serif;
}

#projects {
    padding: 60px 0;
    text-align: center;
}
.kiri {
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
}
.kanan {
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
}
#projects article {
    width: 500px;
    height: 360px;
    float: left;
    background-color: #ffffff;
}
#projects article:first-child {
    margin-right: 20px;
}
#projects article .overlay-kiri {
    background: rgba(70, 70, 70, 0.95);
    height: 360px;
    width: 190px;
    padding: 40px;
}
#projects article .overlay-kanan {
    background: rgba(70, 70, 70, 0.95);
    height: 360px;
    width: 190px;
    padding: 40px;
}
article h4 {
    border-bottom: 1px solid #d85725;
    padding-bottom: 20px;  
}
.more-link {
    border: 1px solid #d85725;
    color: #d85725;
    padding: 6px 20px;
    border-radius: 3px;
}
.more-link:hover {
    background-color: #d85725;
    color: #fff;
}

@media only screen and (max-width: 425px) {
    .kiri, .kanan {
        width: 100%
    }
    .kiri {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 990px) {
    .container {
        padding: 0 10px
    }
}