@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing:border-box; 
}
body {
    background-image: url(../IMG_kieran/KRN02906.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

}

.font-josefin {
    font-family: 'Open Sans', sans-serif;
}

p {
    line-height: 20px;
    margin-bottom: 20px;
}
h1 {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 80px;
    margin-bottom: 20px;
    left: 40px;
    text-align: left;

}
h3 {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 30px;
    left: 40px;
    text-align: left;
    padding: 10px 10px
}
h4 {
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.project a {
    text-decoration: none;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;;
    color: rgb(255, 255, 255);
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(138, 115, 90, 0.555);
    filter:drop-shadow(50%);
    display:flex;
    justify-content: center;
    align-items: center;
    width: 990px;
}
.project a:hover {
    filter:none
}
.clear {
    clear: both;
}
.wrapper {
    margin: 10px;
    padding: 0 0px;
    width: 500px;
}
.container {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin: 80px 0;
    /* margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto; */
    padding-bottom: 50px;

}
#top h1 {
    margin: 10px 0 20px 0;
    font-family: 'Open Sans', sans-serif;
}
#projects {
    padding: 60px 0;
    text-align: center;
}
.kiri {
    position: relative;
    margin: 250px;
    margin-left: 0px;
    bottom: 250px;
    left: 100px;
    padding: 0 10px;
    width: 1000px;
}
.kanan {
    position: relative;
    margin: 250px;
    margin-left: 0px;
    bottom: 800px;
    left: 1000px;
    padding: 0 10px;
    width: 1000px;
}
#projects article {
    width: 650px;
    height: 550px;
    float: left;
    background-color: #ffffff;
}
#projects article:first-child {
    margin-left: 50px;
}
#projects article .overlay-kiri {
    height: 500px;
    width: 190px;
    padding: 40px;
}
#projects article .overlay-kanan {
    height: 500px;
    width: 190px;
    padding: 40px;
}
article h4 {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 45px;
}
.more-link {
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 6px 20px;
    border-radius: 3px;
}
.more-link:hover {
    background-color: #c5c5c5;
    color: #fff;
}

@media only screen and (max-width: 425px) {
    .kiri, .kanan {
        width: 100%
    }
    .kiri {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 990px) {
    .container {
        padding: 0 10px
    }
}

/*CSS-Zoo*/

